

<br>
<h2 style="color:white;background-color:rgb(255, 5, 0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About Us</h2>

<p   style="mmargin-top:50px; text-align: center;font-size: larger;">
<br><br>

Developed By: Diwakar Kumar Singh
<br>

<br>Please Write your query at:<br>

<br> <a href="mailto:trinetr.app.help@gmail.com">trinetr.help@gmail.com</a><br><br>or<br><br>
<a href="mailto:ddwakar2@gmail.com">ddwakar2@gmail.com</a>
<br><br>
<br>

....Thank you..... 
<br>


</p>

<app-goback></app-goback>
