<div style="width: 100%;height: 100%;position: absolute;z-index: 100000; background-color: rgb(253, 253, 253);opacity: 1;">
    <img src="../../../assets/icons/logo.png" style="display: blo1k; width: 50%;height: 10%;margin-left: 25%; margin-top: 10px;">

  
  
    <img src="../../../assets/as/no_internet_conenction-01_4x.png" alt="No Internet Connection !! " style="display: block; width: 100%;height: 60%; margin-top: 10px;">

    <button mat-raised-button color="warn" style="margin-left: 25%; width:50%"  (click)="retry()"> Retry</button>
</div>